<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datasets</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/heroicons@1.0.6/dist/heroicons.min.js"></script>
  </head>
  <body class="flex relative bg-gray-100">
    <div class="w-64 h-screen bg-white shadow-md fixed top-0 left-0">
      <%- include('layouts/sidebar') %>
    </div>
    <div class="flex-1 ml-64 p-10 overflow-y-auto">
        <%- include('layouts/error-toast') %>
        <%- include('layouts/success-toast') %>
      <h1 class="text-3xl font-semibold ">Quick Report</h1>

      <div class="mt-4 bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4">Add New Dataset</h2>
        <form
          id="uploadForm"
          action="/quick-report/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-4">
            <label
              for="datasetName"
              class="block text-sm font-medium text-gray-700"
              >Dataset Name</label
            >
            <input
              type="text"
              id="datasetName"
              name="datasetName"
              required
              class="mt-1 block p-1 w-1/2 rounded-md border border-zinc-500"
            />
          </div>
          <div class="mb-4">
            <label
              for="description"
              class="block text-sm font-medium text-gray-700"
              >Description</label
            >
            
            <textarea
              id="description"
              name="description"
              required
              class="mt-1 block w-1/2 p-1 rounded-md border border-zinc-500"
            ></textarea>
          </div>
          <div class="mb-4">
            <label for="csvFile" class="block text-sm font-medium text-gray-700"
              >Upload CSV File</label
            >
            <input
              type="file"
              id="csvFile"
              name="csvFile"
              accept=".csv"
              required
              class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            />
          </div>
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >
            Submit
          </button>
        </form>
      </div>


      <% if(reports.length > 0){%>
      <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% reports.forEach(report => { %>
          <div class="bg-white shadow-lg rounded-lg p-4 flex items-center justify-between">
            <div class="flex items-center">
                <div class="w-12 h-12 flex items-center justify-center bg-green-100 rounded-full mr-4">
                    <svg class="w-8 h-8 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                    </svg>
                  </div>
              <div>
                <h2 class="text-2xl font-semibold mb-2"><%= report.name %></h2>
                <p class="text-gray-700"><%= report.description %></p>
                <a href="/quick-report/report/<%= report._id %>" class="text-blue-500 hover:underline mt-4 inline-block">View Report</a>
                <a href="/quick-report/<%= report._id %>/delete" class="text-red-500 ml-8">Delete</a>
              </div>
            </div>
            
          </div>
        <% }); %>
        <%} else {%>
            <h1 class="text-3xl font-semibold text-zinc-400 my-10">No data set uploaded yet</h1>
            <%};%>
      </div>
    </div>
  </body>
</html>
