<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
</head>
<body class="flex bg-gray-100">

    <div class="w-64 h-screen bg-white shadow-md fixed top-0 left-0">
        <%- include('layouts/sidebar') %>
    </div>

    <div class="flex-1 ml-64 p-10 overflow-y-auto">
        <%- include('layouts/success-toast') %>
        <h1 class="text-3xl font-semibold mb-6">Statistics</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <% statisticsData.forEach((topic) => { %>
            <div class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow flex flex-col">
                <h2 class="text-xl font-semibold mb-2"><%= topic.title %></h2>
                <div class="mb-4 overflow-hidden border-zinc-300 border-2 rounded-lg">
                    <img src="/images/<%= topic.imagePath %>" alt="<%= topic.title %> Image" class="w-full h-40 object-fit rounded-lg">
                </div>
                <p class="text-gray-600 mb-4 text-sm flex-grow">
                    <b><i>"<%= topic.description %>"</i></b>
                </p>
                <a href="/statistics<%= topic.link %>" class="text-blue-500 hover:underline mt-auto">Visualize & Learn &rarr;</a>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
